<div class='container-1'>
<div class='navbar-1'><h1>Welcome to Darling Docs</h1></div></div>
<br>
<div class='container-2'>
<%= link_to 'Are you a Parent?', new_user_path %> &nbsp; or &nbsp; <%= link_to 'Are you a Teacher?', new_teacher_path %>
</div>
